@page
@model BartendBuddy.Pages.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order.Customer" class="control-label"></label>
                <input asp-for="Order.Customer" class="form-control" />
                <span asp-validation-for="Order.Customer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Drink" class="control-label"></label>
                <select asp-for="Order.Drink" class="form-control" />
                    <option value="">Choose your drink</option>
                    <option value="Whiskey">Whiskey</option>
                    <option value="Tequila">Tequila</option>
                    <option value="Water">Water</option>
                    <option value="Rum">Rum</option>
                    <option value="Martini">Martini</option>
                    <option value="Wine">Wine</option>
                    <option value="Soda">Soda</option>
                    <option value="Long Island Iced Tea">Long Island Iced Tea</option>
                    <option value="Mojito">Mojito</option>
                <span asp-validation-for="Order.Drink" class="text-danger"></span>
            </div>
            <p>
            </p><div class="form-group">
                <input type="submit" value="Order" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
