@page
@model BartendBuddy.Pages.Orders.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Complete</h2>

<h3>Has this order been picked up?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.Customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Customer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.Drink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Drink)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Order.ID" />
        <input type="submit" value="Completed" class="btn btn-default" /> |
        <a asp-page="./Index">Back to Orders</a>
    </form>
</div>
